<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribuidora textiles</title>
    <link rel="icon" href="../static/images/icono.ico"> 
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

</head>
<body>
   
    <h1>Distribuidora Textiles Universales S.A.S</h1>
    <br>
    <br>
    <h4>Bienvenidos esperamos que tengas una buena visita</h4>
    <br>
    <div>
        <p>
            <br> 
            <br>
            <a class="btn"href="{% url 'Ingreso' %}">Inicio de sesión</a>
         
        <section>
        
            <details>
                <br>
                <br>
                <summary>¿Quienes somos?</summary>
                <p>Somos una empresa enfocada en la distribución y comercialización de telas, materias primas y productos determinados para el sector textil en Colombia. Buscamos ser el mejor aliado para nuestros clientes y proveedores, ofreciéndoles gran conocimiento en el mercado textil, respaldo confiabilidad e integridad
                </p>
            </details>
        <br>
        <br>
        </section>
            <img src="../static/images/ima1.jpg">

            <img src="../static/images/img.jpg">
            
        </p>
    </div>

</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer>
    Derechos Reservados &copy; 2017 <br>
    Email: serviciosdistribuidoratextiles@gmail.com <br>
    Tel: 3202658917 <br>
    Dirección: Cl 80# 7-99 <br>
</footer>
</html>